{% extends 'adminbase.html' %}
{% block content %}
<style>
th,td{
    padding: 10px;
}
th{
    background-color: black;
    color: white;
}
</style>
<center>
<div style="margin: 50px;">
    <hr><h2 style="margin: 10px;">Users</h2><hr>    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      
        {% if data %}
        <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ADDRESS</th>
                
                <th>CONTACT</th>
                <th>EMAIL</th>
                <th></th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                <td>{{d.4}}</td>
                <td>{{d.3}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>
</div>
</center>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg)
    </script>
   
{% endblock %}